:root {
    --color-theme-dark: #282424;
    --color-theme-light: #d5cdcd;

    --bar-horizontal-padding: 4rem;
    --library-padding: 3rem;

    --fs-title: 1.8rem;
    --fs-author: 1.4rem;
    --fs-pages: 1.2rem;
    --fs-read: 1.2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 5rem calc(100vh - 8rem) 3rem / 1fr;
    grid-template-areas:
        "topnav"
        "body"
        "footer";
}

div {
    border: 1px solid black;
}

/* --------------------- Top Nav ----------------------- */
nav {
    width: 100%;
    background-color: var(--color-theme-dark);
    color: var(--color-theme-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--bar-horizontal-padding);
    grid-area: topnav;
}

nav .logo {
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    font-size: 1.3rem;
    margin: 0 1rem;
}

.btn-add-book:hover {
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    color: white;
}

/* --------------------- Top Nav ----------------------- */

/* --------------------- Library ----------------------- */
.library-container {
    grid-area: body;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: auto;
}

.library-container .books-container {
    width: min(90%, 1200px);
    padding: var(--library-padding);
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    align-content: flex-start;
    height: fit-content;
}

.library-container .books-container .book {
    width: 100%;
    height: 200px;
}

.book-title,
.book-author,
.book-pages,
.book-read {
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.book-title {
    height: 40%;
    background-color: var(--color-theme-dark);
    color: var(--color-theme-light);
    font-size: var(--fs-title);
    font-weight: bold;
    justify-content: space-between;

    /*To prevent long single words to overlap the title box*/
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    height: 30%;
    font-size: var(--fs-author);
    font-weight: bold;
}

.book-pages {
    height: 15%;
    font-size: var(--fs-pages);
    font-weight: normal;
}

.book-pages::before {
    content: "Number of pages: ";
    margin-right: 4px;
}

.book-read {
    height: 15%;
    font-size: var(--fs-read);
    font-weight: normal;
}

.book-read::before {
    content: "Already read: ";
    margin-right: 4px;
}
/* --------------------- Library ----------------------- */

/* --------------------- Footer ----------------------- */
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--bar-horizontal-padding);
    background-color: var(--color-theme-dark);
    color: var(--color-theme-light);
}

footer .page-details {
    text-align: right;
}
/* --------------------- Footer ----------------------- */



/* --------------------- Popup Create New Book ----------------------- */
.popup-new-book {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 400px;
    display: grid;
    grid-template: repeat(7, 1fr) 2fr / 1fr;
    padding: 1rem;
    background-color: var(--color-theme-dark);
    color: var(--color-theme-light);
    border-radius: 10px;
    visibility: hidden;
    z-index: 1;
    box-shadow: 0 0 5px 5px var(--color-theme-dark);
}

.show {
    visibility: visible;
    animation: fadeIn 0.5s;
}

/*Add animation (fade in in the popup)*/
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.popup-new-book label {
    font-size: 1.3rem;
    align-self: flex-end;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.popup-new-book input {
    font-size: 1.5rem;
}

.popup-new-book .popup-btn-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.popup-new-book .popup-btn-container button {
    height: 2.5rem;
    align-self: center;
    width: 100%;
}

/*field validation in addBookToLibraryArray()*/
.field-required::after {
    content: " *";
    color: var(--color-theme-light);
}

.input-required {
    background-color: pink;
}
/* --------------------- Popup Create New Book ----------------------- */
